@charset "UTF-8";
/*公共样式开始*/
select{
	-moz-appearance: none;
    -webkit-appearance:none;
            appearance:none; 
}
html,body{
	height:100%;
}
::-webkit-input-placeholder{color:#ccc;}
::-moz-placeholder{color:#ccc;}
:-moz-placeholder{color:#ccc;}
.swiper-container {
	width: 100%;
	height: auto;
	max-width: 700px;
	min-width: 320px;
}

.redtxt {
	color: #fc318a !important;
}

.whitetxt {
	color: #fff !important;
}

.blacktxt {
	color: #5a5a5a !important;
}

.lighttxt {
	color: #858585 !important;
}

.deepblacktxt {
	color: #4c4c4c !important;
}

.clear {
	clear: both;
}

.normal_size {
	font-size: 0.875rem!important;
}

.tleft {
	text-align: left !important;
}

.w36 {
	width: 36.5% !important;
	margin-right: 0 !important;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.w31{
	width:30%!important;
	margin-left:3%;
	margin-right:0px!important;
	float:left!important;
	margin-bottom:10px;
	padding:0.5%;
	
}

.lh25 {
	line-height: 20px !important;
}

.pl20 {
	padding-left: 20px !important;
}

.more_large_size {
	font-size: 1.25rem!important;
}

.large_size {
	font-size: 1.125rem!important;
}

.big_size {
	font-size: 1rem!important;
}

.small_size {
	font-size: 0.75rem!important;
}

body {
	min-width: 300px;
	max-width: 700px;
	font-family: "PingFangSC-Regular","Microsoft YaHei", Arial, Helvetica, sans-serif;
	padding: 0px;
	background: #f5f5f5;
	margin: 0 auto !important;
	-webkit-tap-highlight-color: rgba(255,0,0,0);
	
}

#bg_white {
	background: #fff !important;
}

.btop10 {
	border-top: 10px solid #f5f5f5;
}

.img {
	max-width: 100%;
	height: auto;
}
.w23 {
	width: 23% !important;
	letter-spacing:-1px;
}
.w68 {
	width: 68% !important;
}
.w30 {
	width: 27% !important;
}
/* .w30_1{ 
 	width: 28% !important; 
}
/* .w60_1{ 
 	width: 66% !important; 
} */
.mt10, .section_box {
	margin-top: 10px !important;
}

.mt0 {
	margin-top: 0px !important;
}

.mt17 {
	margin-top: 17px !important;
}

.mt20 {
	margin-top: 20px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb40 {
	height:50px;
}

.pt10, .tj_box li, .tj_box .price {
	padding-top: 10px;
}

.pb10, .tj_box li {
	padding-bottom: 10px;
}

.pb20 {
	padding-bottom: 20px;
}
.pl35{
	padding-left:35px!important;
}
.ml10 {
	margin-left: 10px;
}
.ml0{
	margin-left:0!important;
}

.mr10 {
	margin-right: 10px;
}

.wrapper {
	padding: 0 5px;
}

.wrap {
	padding: 0 10px;
}

.brnone {
	border-right: none;
}

.btnone {
	border-top: none !important;
}

.bt1 {
	border-top: 1px solid #e3e3e3;
}

.bb1 {
	border-bottom: 1px solid #e3e3e3;
}

.right_icon {
	position: absolute;
	right: 12px;
}

.right_icon img, .left_icon img {
	width: 20px;
	height: auto;
	color: #4c4c4c;
	vertical-align: middle;
}

.left_icon {
	position: absolute;
	left: 12px;
}

.section_box {
	background: #ffffff;
	box-shadow: 1px 3px 3px #eee;
	overflow: hidden;
	width: 100%;
	position:relative;
}


.more_btn {
	display: block;
	border: 1px solid #fc318a;
	text-align: center;
	color: #fc318a;
	border-radius: 5px;
	width: 80px;
	line-height: 30px;
}

.hori_middle {
	margin: 0 auto;
}

.lightbg {
	background: #ebebeb;
}

.yellowbg {
	background: #ffa376;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right !important;
}

.buy_btn {
	width: 100%;
	line-height: 50px;
	text-align: center;
	background: #fc318a;
	color: #fff;
	font-size: 1rem;
	position: fixed;
	bottom: 0px;
	z-index: 5;
	min-width: 320px;
	max-width: 700px;
}

.index_title2{
	width:80%;
	white-space:nowrap; 
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden;
	float:left;
	-webkit-text-overflow:ellipsis; 
}

/*报错样式*/
.error_alert {
	height: 35px;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	line-height: 35px;
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -18px;
	color: #fff;
	font-size: 1rem;
	padding: 0 15px;
	z-index: 99999;
}

/*报错样式2*/
.error_alert2 {
	background: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	line-height: 20px;
	text-align: center;
	position: fixed;
	top: 50%;
	margin-top: -18px;
	color: #fff;
	font-size: 1rem;
	padding: 0 15px;
	z-index: 99999;
	max-width:80%;
	padding-top:8px;
	padding-bottom:8px;
	/*white-space:nowrap;*/
	
}

/*公共样式结束*/
/*首页样式开始*/
.index_banner {
	max-width: 100%;
	height: auto;
}

.bluetxt {
	color: #35a9e8 !important;
}

.bx_top {
	font-size: 1.1rem;
	color: #4c4c4c;
	line-height: 50px;
	text-align: center;
	position: relative;
	background: #ffffff;
	border-bottom:10px solid #f5f5f5;
	display: none;
}
.bb0{border-bottom:0px!important;}

.tj_title {
	line-height: 40px;
	color: #5a5a5a;
	font-size: 1.05rem;
	
}

.index_foot a{
	font-size: 1.05rem;
	
}

.tj_box {
	border-top: 1px solid #e3e2e2;
	border-bottom: 1px solid #e3e2e2;
	overflow: hidden;
}

.tj_box li {
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	border-right: 1px solid #e3e2e2;
	float: left;
}

.tj_box li img {
	max-width: 100%;
	height: auto;
}

.tj_box .price {
	color: #fc318a;
	font-size: 20px;
	text-align: center;
}

.tj_box .price b {
	color: #b1b1b1;
	font-size: 0.6rem;
	text-decoration: line-through;
	font-weight: normal;
}

.br0 {
	border-right: 0px !important;
	float: right !important;
}

.bz_txt p {
	display: inline-block;
	width: 75%;
	font-size: 0.7rem;
	float: left;
	padding-top: 5px;
}

.bz_txt .go_red {
	display: inline-block;
	height: auto;
	width: 20%;
	max-width: 50px;
	margin-top: 10px;
}

.why {
	line-height: 40px;
	height: 40px;
	overflow: hidden;
	color: #5a5a5a;
	font-size: 1rem;
	background: url(../images/laba.svg) no-repeat 10px center;
	position: relative;
	background-size: 22px 22px;
}

.why .question_box {
	display: block;
	float: left;
	margin-left: 10px;
	position: absolute;
	left: 30px;
	top: 0px;
}
.why .question_box li{
	font-size:0.857rem;
}

.sub_nav_top {
	position: fixed !important;
	background: #fff;
	box-shadow: 2px 2px 4px #ddd;
	top: 0px;
	z-index: 5;
	margin-top: 0px !important;
}

.sub_nav {
	
	min-width: 300px;
	max-width: 700px;
	width: 100%;
}

.sub_nav a {
	display: block;
	float: left;
	width: 20%;
	text-align: center;
	line-height: 40px;
	font-size: 0.9rem;
	color: #4c4c4c;
	font-size: 1.05rem;

}

.sub_nav .active {
	border-bottom: 2px solid #fc318a;
	color: #fc318a;
}

.media-box {
	overflow: hidden;
	position: relative;
	padding-bottom: 10px;
}

.media-box .media-object {
	float: left;
	width: 37%;
	display: inline-block;
}

.media-box .media-body {
	float: right;
	width: 60%;
	display: inline-block;
}

.media-box .media-body .media-title {
	color: #4c4c4c;
	font-size: 1.05rem;
	
	
}

.media-box .media-body .media-title .badge {
	font-size: 0.7rem;
    width: 20%;
    text-align: center;
    max-width:40px;
    line-height: 15px;
    box-sizing:border-box;
}

.media-box .media-body .media-txt {
	font-size: 0.75rem;
	color: #7b7b7b;
	line-height: 20px;
	padding-top: 5px;
	width:80%;
}

.media_price_box {
	position: absolute;
	right: 0px;
	bottom: 10px;
	width: 60%;
}

.media_price_box .media_price {
	color: #5a5a5a;
	font-size: 0.75rem;
	display: inline-block;
	float: left;
	margin-top:10px;
}

.media_price_box .media_price span {
	color: #fc318a;
	font-size: 1.25rem;
	padding-right:3px;
}

.media_price_box .media_price span b {
	font-weight: normal;
	font-size: 0.875rem;
}

.media_price_box .media-btn {
	display: inline-block;
	float: right;
	margin-right: 10px;
	width: 90px;
	line-height: 30px;
	border: 1px solid #fc318a;
	font-size: 0.875rem;
	text-align: center;
	color: #fc318a;
	border-radius: 5px;
}

.green_label {
	color: #71d885;
	border: 1px solid #71d885;
	border-radius: 5px;
}

.blue_label {
	color: #77b1f7;
	border: 1px solid #77b1f7;
	border-radius: 5px;
}

.red_label {
	color: #f77777;
	border: 1px solid #f77777;
	border-radius: 5px;
}

.yellow_label {
	color: #ffa24f;
	border: 1px solid #ffa24f;
	border-radius: 5px;
}

.index_foot {
	text-align: center;
	color: #4c4c4c;
	font-size: 1rem;
	line-height: 50px;
}

.index_foot img {
	width: 15px;
	height: auto;
}

/*首页样式结束*/
/*孩子王互助会样式开始*/
.price_js {
	line-height: 40px;
	overflow: hidden;
}

.price_js span {
	display: line-block;
	float: left;
}

.price_js .price_main {
	font-size: 1.1rem;
}

.price_js .price_font, .price_js .price_jgss {
	font-size: 1.05rem;
	color: #4c4c4c;
	float: right;
}

.price_js .price_jgss {
	float: right;
	background: url(../images/arrow_right.svg) no-repeat right center;
	background-size: 18px 18px;
	padding-right: 20px;
}

.veson_box {
	border: 1px solid #e3e3e3;
	overflow: hidden;
	margin: 10px 10px 20px 10px;
}

.veson_box .veson_ul li {
	width: 50%;
	display: inline-block;
	line-height: 40px;
	text-align: center;
	color: #4c4c4c;
	font-size: 1rem;
	float: left;
	font-weight: bold;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	box-sizing: border-box;
}

.veson_box .veson_ul .active {
	border-bottom: 2px solid #fc318a;
	color: #fc318a;
}

.dj_ul {
	margin-top: 10px;
}

.dj_ul li {
	line-height: 35px;
	padding-left: 30px;
}

.dj_ul li:first-child {
	background: url(../images/child/ts/dz.svg) no-repeat left center;
	background-size: 25px 25px;
}

.dj_ul li:nth-child(2) {
	background: url(../images/child/ts/sd.svg) no-repeat left center;
	background-size: 25px 25px;
}

.dj_ul li:last-child {
	background: url(../images/child/ts/dj.svg) no-repeat left center;
	background-size: 25px 25px;
}

.ptb_10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.pj_box li {
	padding-bottom: 10px;
	overflow: hidden;
}

.pj_box li .user_object {
	float: left;
	display: inline-block;
	width: 17%;
	text-align: center;
}

.pj_box li .user_object img {
	max-width: 100%;
	border-radius: 100%;
	width: 40px;
	height: auto;
}

.pj_box li .user_body {
	float: right;
	width: 78%;
}

.pj_box li .user_body .user_star {
	float: left;
	height: auto;
}

.pj_box li .user_body .user_star img {
	width: 12px;
	padding-right: 2px;
	vertical-align: top;
}

.pj_box li .user_body .user_pj_txt {
	float: left;
    margin-left: 12px;
}

.pj_box li .user_body .user_pj_rq {
	float: right;
}

.pj_box li .user_body p {
	line-height: 20px;
	padding-top: 5px;
}

.question_content {
	margin-top: 20px;
	overflow: hidden;
}

.question_content .question_object {
	width: 20%;
	display: block;
	text-align: center;
}

.question_content .question_object img {
	width: 50px;
	height: auto;
}

.question_content .question_body {
	display: block;
	max-width: 60%;
	min-width:10%;
	position: relative;
	padding-left: 4%;
	padding-right: 3%;
	border-radius: 5px;
	line-height: 20px;
	color: #fff;
}

.question_content .question_body .jt_light {
	position: absolute;
	top: 20px;
	left: -6px;
	width: 7px;
}

.question_content .question_body .jt_yellow {
	position: absolute;
	top: 20px;
	right: -6px;
	width: 7px;
}

.child_detail li {
	width: 50%;
	display: inline-block;
	float: left;
	text-align: center;
	line-height: 40px;
}

.child_detail .active {
	border-bottom: 2px solid #fc318a;
	color: #fc318a;
}

.child_detail_content img {
	max-width: 100%;
	height: auto;
}

.alert_bg {
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0px;
	left: 0px;
}

.alert_price {
	position: fixed;
	top: 0px;
	background: #fff;
	width: 100%;
	min-width: 320px;
	max-width: 700px;
	opacity: 0;
	z-index: -5;
}

.alert_price .title {
	color: #9e9e9e;
	line-height: 40px;
	font-size: 1.125rem;
}

.alert_price .age {
	line-height: 40px;
	color: #9e9e9e;
	overflow: hidden;
}

.alert_price .age span {
	display: block;
	float: left;
	margin-right: 3%;
	font-size: 1rem;
	width:20%;
}
.content_area{
	overflow:hidden;
	width:75%;
}

.alert_price .age .age_btn {
	width: 35%;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #9e9e9e;
	color: #9e9e9e;
	line-height: 30px;
	text-align: center;
	margin-top: 5px;
}


/** 禁用规格按钮的样式  */
.alert_price .age .age_btn.disable {
	color: #E6D8D8;
	border: 1px dashed #E6D8D8;
}


/*数量选择 begin */
.price_box{
	width:75%!important;
	float:left;
}

.mr10{
	margin-right:10px;
}
 
/*禁用的样式 暂未使用*/ 
.alert_price .age .buy_num_span a.disable{
    color: #ccc;
    cursor: not-allowed;
    background-color: #ededed;
} 
 
.buy_num_desc{
	float:left;
}

.buy_num_a{
    color: #3C3C3C;
    outline: 0;
    text-decoration: none;
    width: 26px;
    height: 26px;
    border: 1px solid #ccc;
    line-height: 26px;
    padding: 0;
    vertical-align: top;
    margin-top: 8px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    float: left;
}

.alert_price .age .buy_num_text{
    margin: 0;
    padding: 0;
    width: 50px;
    height: 26px;
    font-size: 16px;
    text-align: center;
    color: #666;
    border: 1px solid #CCC;
    background: #FFF;
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
    float: left;
    display: block;
    /* margin-top: 8px; */
    margin: 8px 3px 0 3px;
    /* border-right: none; */
    /* border-left: none; */
}
/*数量选择 end*/

.alert_price .age .w150 {
	width: 53% !important;
}

.alert_price .age .active {
	border: 1px solid #fc318a !important;
	color: #fc318a !important;
}

.alert_price .close_icon {
	position: absolute;
	top: 20px;
	right: 20px;
}

.alert_price .close_icon img {
	width: 30px;
	height: auto;
}

/*产品评价样式开始*/
.pj_star {
	text-align: right;
	margin-top: 20px;
	padding-bottom: 20px;
	font-size: 1.25rem;
}

.pj_star .pj_big_txt {
	font-size: 1.5rem;
}

.pj_star img {
	width: 20px;
	height: auto;
}

.pj_class {
	overflow: hidden;
}

.pj_class li {
	width: 33.3%;
	display: inline-block;
	float: left;
	text-align: center;
	height: 39px;
	line-height: 39px;
	border-bottom: 1px solid #e3e3e3;
	color: #5a5a5a;
}

.pj_class .active {
	border-bottom: 2px solid #fc318a;
	color: #fc318a;
	height: 38px;
}

/*产品评价样式结束*/
/*投保告知开始*/
.tb_title {
	text-align: center;
}

.tb_jkgz {
	line-height: 22px;
	padding-top: 5px;
}

.tb_class {
	overflow: hidden;
}

.tb_class li {
	width: 30%;
	float: left;
	display: inline-block;
	text-align: center;
	margin-top: 15px;
}

.tb_class li img {
	width: 50px;
	height: auto;
}

.tb_list {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: #fff;
	overflow: hidden;
	border-top: 1px solid #e3e3e3;
}

.tb_list li {
	width: 50%;
	float: left;
	text-align: center;
	line-height: 50px;
}

.tb_list .active {
    color: #fff;
    background: #fc318a;
    border-bottom: 2px solid #fc318a;
    height: 48px;
}

/*投保告知结束*/
/*保单投保开始*/
.bgred {
	background: #fc318a !important;
}

.bd_title {
	color: #fff;
}

.bd_top_title {
	font-size: 1.125rem;
}

.bd_xz_btn, .small_bd_xz_btn {
	color: #fc318a;
/* 	border: 1px solid #fc318a; */
	border-radius: 5px;
}

.bd_detail {
	font-size: 1rem;
}

.bd_xz_btn {
	padding: 3px 0;
	font-size: 1rem;
	float: right;
}

.small_bd_xz_btn {
	padding: 2px 6px;
	font-size: 0.75rem;
	float: right;
}

.bd_ul li {
	background: url(../images/bdtb/nochecked_icon.png) no-repeat 10px 5px;
	background-size: 16px 16px;

	border-bottom: 1px solid #e3e3e3;
	overflow: hidden;
	font-size: 1rem;
}

.bd_ul .active {
	background: url(../images/bdtb/checked_icon.png) no-repeat 10px 5px;
	background-size: 16px 16px;
}

.bd_ul .id_card_num {
	color: #b0b0b0;
	font-size: 0.875rem;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-right:12px;
	overflow:hidden;
}

.bd_ul .id_card_num img {
	width: 16px;
	height: auto;
	vertical-align: MIddle;
}

.form_group {
	border-top: 1px solid #e3e3e3;
	font-size: 0.9rem;
	line-height: 50px;
	clear:both;
	position:relative;
}

.form_group:after {
	content: "";
	clear: both;
	display: block;
}

.form_group label {
	padding-left: 4%;
	display: block;
	float: left;
	width: 20%;
	color: #6c6c6c;
}

.form_group input, .form_group select,.myselect {
	width: 73%;
	display: block;
	float: right;
	color: #666;
	height: 20px;
	margin-top: 14px;
	border: none;
	background: none;
	position: relative;
	text-overflow:ellipsis;  
white-space:nowrap;  
overflow:hidden;
}

.bd_name {
	color: #333;
	display: block;
	float: left;

}

.bd_xx_content {
/* 	width: 75%; */
	display: block;
	float: left;
	color: #333;
	padding-left:5px;
}

.bg_date {
	background: url(../images/bdtb/date.svg) no-repeat right center;
	background-size: 20px 20px;
}

.bd_xieyi {
	margin-top: 15px;
	margin-bottom: 15px;
	background: url(../images/bdtb/nochecked_icon.png) no-repeat 10px 3px;
	background-size: 16px 16px;
	padding-left: 30px;
	font-size: 0.875rem;
	color: #a6a2a2;
}

.bd_xieyi.active {
	background: url(../images/bdtb/checked_icon.png) no-repeat 10px 3px;
	background-size: 16px 16px;
}

.zj_class:after {
	content: "";
	background: url(../images/bdtb/date.svg) no-repeat right center;
	background-size: 20px 20px;
	display: block;
	height: 20px;
	float: right;
	position: absolute;
	right: 10px;
	width: 100%;
	max-width: 700px;
	min-width: 320px;
	top: 0px;
}

/*保单投保结束*/
/*保单详情开始*/
.bdxq_title {
	display: block;
	float: left;
	height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 70%;
}

.bdxq_group .form_group {
	line-height: 30px !important;
	margin-right:4%
}

.bdxq_bbr {
	padding-left: 10px;
}

.bdxq_bbr li {
	line-height: 30px;
	font-size: 1rem;
}

.bdxq_list .bg_arrow {
	background: url(../images/arrow_right.svg) no-repeat 97% center;
	background-size: 18px 18px;
}

.bdxq_zxfw, .bdxq_list li {
	line-height: 40px;
	font-size: 1rem;
	color: #5a5a5a;
}

.bdxq_zxfw img, .bdxq_list li img {
	width: 20px;
	height: auto;
	vertical-align: middle;
}

.bdxq_zxfw .bg_people, .bdxq_list li .bg_people {
	background: url(../images/people_red.svg) no-repeat left center;
	background-size: 20px 20px;
	padding-left: 30px;
}

.bdxq_bottom_btn {
	position: fixed;
	height: 50px;
	line-height: 50px;
	bottom: 0px;
	width: 100%;
	min-width: 320px;
	max-width: 700px;
	background: #fff;
	box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.1);
}

.bdxq_bottom_btn div {
	width: 50%;
	display: block;
	float: left;
	font-size: 1rem;
	text-align: center;
}

.bdxq_bottom_btn .active {
	background: #fc318a;
	color: #fff;
}

.bg_bx_logo {
	/*   background: #fff url(../images/bx_logo.png) no-repeat 97% 50px; */
	/*   background-size: 60px auto;  */
	
}

/*保单详情结束*/
/*个人中心开始*/
.bg_size_small {
	background-size: 15px 15px !important;
}

.gr_ddzt li {
	width: 25%;
	float: left;
	display: block;
	font-size: 1rem;
	height: 35px;
	position: relative;
	text-align: center;
	color: #666;
	padding-top: 45px;
	margin-top: 15px;
}

.gr_ddzt li .label {
	position: absolute;
	top: -5px;
	right: 50%;
	margin-right: -25px;
	width: 18px;
	height: 18px;
	border-radius: 100%;

	text-align: center;
	line-height: 18px;
	font-size: 0.75rem;
	/*border:1px solid #fc318a;
	background:#fff;
	color:#fc318a;*/
}

.gr_ddzt .dzf {
	background: url(../images/grzx/dzf.svg) no-repeat center top;
	background-size: 36px auto;
}

.gr_ddzt .dzf.active {
	background: url(../images/grzx/dzf_red.svg) no-repeat center top;
	background-size: 35px auto;
	color: #fc318a;
}

.gr_ddzt .dsx {
	background: url(../images/grzx/dsx.svg) no-repeat center top;
	background-size: 36px auto;
}

.gr_ddzt .dsx.active {
	background: url(../images/grzx/dsx_red.svg) no-repeat center top;
	background-size: 40px auto;
	color: #fc318a;
}

.gr_ddzt .bzz {
	background: url(../images/grzx/bzz.svg) no-repeat center top;
	background-size: 36px auto;
}

.gr_ddzt .bzz.active {
	background: url(../images/grzx/bzz_red.svg) no-repeat center top;
	background-size: 40px auto;
	color: #fc318a;
}

.gr_ddzt .ytb {
	background: url(../images/grzx/tb.svg) no-repeat center 3px;
	background-size: 36px auto;
}

.gr_ddzt .ytb.active {
	background: url(../images/grzx/ytb_red.svg) no-repeat center top;
	background-size: 40px auto;
	color: #fc318a;
}

.grzx_btn {
    border-top:1px solid #eee;
    padding:10px 0;
    overflow:hidden;
	bottom: 55px;
	right: 10px;
	margin-top:5px;
}

.grzx_btn a {
	margin-left: 10px;
	display: block;
	float: right;
	border: 1px solid #fc318a;
	color: #fc318a;
	border-radius: 5px;
	padding: 5px 9px;
	font-size: 0.875rem;
}
.grzx_btn a:first-child{
	margin-right:3%;
}

/*个人中心结束*/
/*购买成功开始*/
.buy_succ {
	text-align: center;
	font-size: 1.3rem;
	padding-top: 15px;
	padding-bottom: 20px;
}

.buy_succ img {
	width: 70px;
	height: auto;
}

.buy_form label {
	font-size: 1rem;
	color: #9a9a9a;
	display: block;
}

.buy_form input {
	width: 95%;
	border: 1px solid #dbdbdb;
	border-radius: 10px;
	height: 40px;
	margin-top: 10px;
	color: #ddd;
	padding-left: 5%;
}

.gm_success {
	overflow: hidden;
	padding-bottom: 20px;
}

.gm_success a {
	float: left;
}

.gm_success a:first-child {
	margin-left: 20%;
}

.gm_success a:last-child {
	margin-right: 20%;
}
@media screen and (min-width:320px) and (max-width:374px){
	.gm_success a:last-child {
	margin-right: 15%;
}
.gm_success a:first-child {
	margin-left: 15%;
}
.alert_price .age .age_btn{
	  width:40%;
	 
	}
}

/*购买成功结束*/
/*我的订单开始*/
.dj_class{
	overflow:hidden;
}
.dj_class li {
	width: 20%;
	float: left;
	display: inline-block;
	line-height: 40px;
	height: 40px;
	text-align: center;
	font-size: 1rem;
}

.dj_class .active {
	height: 38px;
	border-bottom: 2px solid #fc318a;
}

.wd_bdzf {
	bottom: 8px !important;
}

.bg_bx_logo_opc {
	/*   background: #fff url(../images/bx_logo_opc.png) no-repeat 97% 50px; */
	/*   background-size: 50px auto;  */
	
}

/*我的订单结束*/
/*保单点评开始*/
.bddp_form textarea {
	border: 1px solid #eee;
	border-radius: 5px;
	width: 92%;
	height: 300px;
	display: block;
	margin-top: 10px;
	padding: 4%;
	color: #888;
	font-size: 0.875rem;
	box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.05);
	margin-bottom: 50px;
}

.pf_star img {
	vertical-align: middle;
}

/*保单点评结束*/
/*2015-11-26样式添加或修改开始*/
/*购买成功*/
.buy_quan {
	width: 80%;
	margin: 0 auto;
	display: block;
	height: auto;
	margin-bottom: 20px;
}

/*推荐有礼*/
.tj_style {
	line-height: 40px;
/* 	border-top: 1px solid #e5e5e5; */
	border-bottom: 1px solid #e5e5e5;
/* 	font-size: 0.875rem; */
    font-size: 1rem;
	color: #a8a7aa;
}

.tj_style .tjm_num {
	padding-left: 20px;
	color: #4c4c58;
}

.tj_style_box {
	width: 100%;
}

.tj_style_box li {
	width: 30%;
	float: left;
	margin-left: 2.5%;
	color: #999;
	font-size: 0.75rem;
	padding-bottom: 10px;
}

.tj_style_box li img {
	max-width: 100%;
	height: auto;
	margin-bottom: 5px;
}

.tj_style_2 {
	line-height: 50px;
	border-top: 1px solid #e5e5e5;
	color: #888;
	font-size: 0.875rem;
}

.tj_style_2 a {
	text-decoration: underline;
	font-size: 0.9rem;
}

.tj_style_box_3 {
	border-top: 1px solid #e5e5e5;
}

.tj_style_box_3 h6 {
	font-size: 0.875rem;
	color: #b1b1b1;
	margin-top: 10px;
	font-weight: normal;
}

.tj_style_box_3 .tj_ewm {
	text-align: center;
	color: #abaaaa;
}

.tj_style_box_3 .tj_ewm img {
	width: 40%;
	height: auto;
}

.tj_rule {
/* 	border-top: 1px solid #e5e5e5; */
	color: #888;
	line-height: 22px;
/* 	font-size: 0.875rem; */
    font-size: 1rem;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*我的订单*/
.wddd_no {
	text-align: center;
	font-size: 1rem;
	color: #999999;
	line-height: 28px;
}

.wddd_no img {
	width: 23%;
	height: auto;
	margin-top: 50px;
}

/*关于孩子王保险*/
.about_page {
	text-indent: 2em;
	font-size: 0.875rem;
	line-height: 25px;
}

/*我要理赔*/
.lp_title {
	font-size: 1rem;
	color: #333;
	padding-left: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.lplc_bg {
	background: url(../images/lp_icon.svg) no-repeat 10px 10px;
	background-size: 30px 30px;
}

.lplc_bg2 {
	background: url(../images/edit.svg) no-repeat 10px;
}

.lplc_bg3 {
	background: url(../images/people_red.svg) no-repeat 10px;
	background-size: 30px 30px;
}

.lp_lc {
	background: url(../images/lp_line.svg) no-repeat 35px;
}

.lp_lc li {
	padding-left: 60px;
	padding-right: 10px;
	margin-bottom: 15px;
}

.lp_lc li .h5 {
	font-size: 15px;
	color: #333;
}

.lp_lc li .lp_txt {
	font-size: 14px;
	color: #aaa;
}

.lp_lc li:first-child {
	background: url(../images/phone.svg) no-repeat 30px;
}

.lp_lc li:nth-child(2) {
	background: url(../images/tj.svg) no-repeat 30px;
}

.lp_lc li:nth-child(3) {
	background: url(../images/sh.svg) no-repeat 30px;
}

.lp_lc li:last-child {
	background: url(../images/ja.svg) no-repeat 30px;
}

.lp_ul li {
	padding-bottom: 15px;
	padding-left: 50px;
	font-size: 0.875rem;
	color: #999;
}

.lp_ul li span {
	padding-left: 10px;
}

.lp_ul li:last-child {
	padding-bottom: 0px;
}

/*2015-11-26样式添加或修改结束*/
/*孩子王互助会样式结束*/
@media screen and (min-width: 320px) and (max-width: 375px) {
	.media-title {
		font-size: 0.875rem !important;
	}
	.close_icon {
		right: 10px !important;
	}
	.alert_price .close_icon img {
		width: 25px !important;
	}
	.alert_price .title {
		font-size: 1rem !important;
	}
	
	.grzx_btn a {
		padding: 2px 6px;
		font-size: 0.75rem;
	}
	.dj_class li {
		font-size: 0.875rem !important;
	}
	.form_group {
		font-size: 0.85rem;
	}
	.bd_detail {
		font-size: 1rem;
	}
	.bd_ul li {
		font-size: 0.9rem;
	}
	.bdxq_bbr li {
		font-size: 0.875rem;
	}
	.media-txt {
		font-size: 0.75rem !important;
	}
	.buy_succ {
		font-size: 1.125rem !important;
	}
	.gr_ddzt li {
		font-size: 0.9rem !important;
	}
	.ss_yx{
	font-size:12px!important;
	}
}
@media screen and (min-width: 375px) and (max-width: 414px){
/* 	.bd_name{ */
/* 	width:20%;} */
}
/*# sourceMappingURL=main.css.map */


/*惠泽支付接口 paylink.jsp表格样式*/
.paylinkTbl {
	margin-top:20px;
	border:1px;
    cellpadding:0;
    cellspacing:0;
}


#submitPayParam {
	margin-left:200px;
	margin-top:25px;
}

#sku_name{
    width: 85%;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    -webkit-text-overflow: ellipsis;
}

#item_name{
    width: 81%;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    -webkit-text-overflow: ellipsis;
    margin-left: auto;
    margin-right: auto;
}

#go_back {
    top: -2px;
    position: absolute;
}

/** 保单详情,退保样式 */
.tb_button{
	margin-top:20px;
	background:#fff;
	text-align:center;
	line-height:40px;
	color:#333;
	
	
	font-size:1rem;
}

/*2015-12-8样式添加或修改开始*/
/*购买成功*/
.buy_succ {
  padding-bottom: 0;
}
.buy_succ img {
  width: 50px;
}
.buy_quan {
  width: 64%;
}
.buy_succ_desc {
  padding: 8px 0;
  text-align: center;
  font-size: 0.875rem;
  color: #B1B1B1;
  line-height: 20px;
}
/* 推荐有礼 */
.tj_style_box li {
  width: 45%;
  margin-left: 3.3%;
}
.ygtj_style_box li {
  float: none;
  margin: 0 auto;  
  
}

.bd_td {
	padding: 0 0 3px 0!important;
	margin: 0 10px;
	border-bottom: 1px solid #e5e5e5;
}

.bd_td_box ul:last-child {
	border-bottom: none;
}

.bd_td_box ul {
	border-bottom: 1px solid #eee;
	padding: 0 0 8px 0!important;
	margin: 0 10px;
}


/*2015-12-8样式添加或修改结束*/



/*员工推荐页  */
.yg-recommend input::-webkit-input-placeholder{color:#cdcdcd;}
.yg-recommend input::-moz-placeholder{color:#cdcdcd;opacity:1;}
.yg-recommend .content { width: 100%; min-width: 320px; max-width: 700px; margin:0 auto; text-align: center; position: absolute; top: 0;}
.yg-recommend input.num { width: 100%; border: none; background: none; border-bottom: 1px solid #ccc; color: #222; font-size: 1.2rem; line-height: 2.5rem; margin-top: 150px; text-align: center;}
.yg-recommend input.num:focus { outline: none;}
.yg-recommend .prompt { color: #898989; font-size: 1rem; line-height: 1.2rem; padding: .8rem 10px;}
.yg-recommend .prompt span { color: #fb2081;}
.yg-recommend .bg { width: 100%; min-width: 320px; max-width: 700px; position: absolute; bottom: 0; margin: 0 auto;}
.yg-recommend .buy_btn { width: 100%; min-width: 320px; max-width: 700px; line-height: 40px; text-align: center; background: #fc31a8 !important; color: #fff; font-size: 1rem; position: fixed; bottom: 0px;}


/*分享的地址*/
#s_url{
    width: 65%;
    float:left;
   	white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

.loading{
	background:rgba(0,0,0,.7);
	height:100%;width:100%;
	position:absolute;
	top:0;left:0;
	z-index:10000
}


.section_box_g_hover{
	display: block; 
}
.seciton_box_g{
	display: none;visibility: hidden; height: 42px; margin: 0px; border: 0px; padding: 0px; float: none;
}
.subMenu{
	transform: translateZ(0px); 
}
.subMenu_hover{
	position: fixed; top: 0px;margin-top: 0px!important;z-index:100
}



/*我要理赔开始*/
.list-line {
  display: block;
  font-size: 15px;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #ddd;
  color: #333;
  font-weight: normal; }

.line-list {
  padding: 10px 0px 10px 10px; }

.line-style {
  background: #FA3189;
  width:23px;
  height:23px;
  border-radius:100%;
  display: inline-block;
  vertical-align: middle;
  line-height: 23px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  color: #fff; 
  float:left;}

.line-right {
  width: 90%;
  display: inline-block;
  vertical-align: middle;

  font-size: 14px;

  color: #999;
  float:right; }

.line-item {
  overflow: hidden;
  padding: 10px 0; }

.buy_btn {
  line-height: 50px;
  width: 100%;
  font-size: 14px; }

.lin-con {
  font-size: 14px;
  padding: 0 5px 7px 5px;
  color: #999; }
  .lin-con .notice {
    color: #FA3189; }

.line-btn {
  display: block;
  font-size: 14px;
  color: #FC318A;
  line-height: 35px;
  text-align: center;
  width: 100px;
  text-align: center;
  margin: 10px auto;
  border: 1px solid #FC318A;
  border-radius: 5px; }



.area {
  width: 100%;
  height: 2rem;
  border: 0; }
/*我要理赔结束*/





/*新增首页预约教育金的弹出框样式*/
.mask_white{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background:rgba(255,255,255,0.7);
  z-index:99;
}
.mask_black{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.7);
  z-index:99;
}
.alert_what_hm{
	position:fixed;
  top:50%;
  -webkit-transform:translateY(-50%);
  left:5%;
  width:80%;
  height:auto;
  z-index:100;
  background:#fff;
  overflow:hidden;
  padding:30px 5% 20px 5%;
  border-radius:5px;
}
.alert_what_hm h4{
	text-align:center;
	margin-bottom:15px;
	
}
.alert_what_hm p{
	font-size:14px;
	color:#666;
	line-height:22px;
	text-indent:2em;
	margin-bottom:10px;
}
.alert_what_hm .alert_close{
  position:absolute;
  right:10px;
  top:10px;
  width:9%;
  z-index: 101;
}

.alert_what_hm .alert_close img{
	width:100%;
	height:auto;
}
.alert_yuyue{
  position:fixed;
  top:50%;
  -webkit-transform:translateY(-50%);
  left:10%;
  width:80%;
  height:auto;
  z-index:100;
}
.alert_yuyue .alert_img{
  width:100%;
  height:auto;
}
.alert_yuyue .alert_close{
    right: 1px;
    top: 2px;
    width: 9%;
    position: absolute;
    z-index: 101;
}
.alert_yuyue .alert_close img{
  width:100%;
  height:auto;
}

/**3-4新添加样式**/
#idType{
	position:relative;
}
.cert_class{
	position:absolute;
	top:100%;
	left:0px;
	background:#fff;
	width:100%;
	overflow:hidden;
	
	z-index:4;
}
.cert_class .sub_class{
	width:70%;
	height:50px;
	line-height:50px;
	color:#6c6c6c;
	padding-left:30%;
}
.cert_class .sub_class:active{
	background:aaa;
}
.arrow_down{
	position:absolute;
	right:10px;
	top:5px;
}
.arrow_down img{
	width:20px!important;
	height:auto!important;
}
.sex_select{
	float:left;
	border:1px solid #999;
	border-radius:5px;
	background:#fff;
	width:60px;
	height:30px;
	margin-top:10px;
	margin-left:3%;
	box-sizing:border-box;
	text-align:center;
	line-height:30px;
	font-size:0.875rem;
	color:#999;
}
.sex_select.active{
	border:1px solid #fc318a;
	color:#fc318a;
}
/**保单试算**/
.bf_top{
	height:50px;
	line-height:50px;
	font-size:0.875rem;
	position:fixed;
	top:0px;
	margin-top:0px!important;
	left:0px;
	width:100%;
	z-index:11;
}
.mt60{margin-top:60px!important;}
.bf_top span{
	float:right;
}
.clear_close{
	position:absolute;
	top:5px;
	right:10px;
	width:50px;
	  margin: 0px auto;
  text-align: center;
}
.clear_close img{
	width:20px;
	height:auto;
	text-align:center;
}
/*邮箱样式添加开始*/
.out_box {
        border: 1px solid #ccc;
        background: #fff;
        font: 12px/20px Tahoma;
       
        
    }
    
    .list_box {
       line-height:50px;
       padding-left:30px;
    }
    
    .focus_box {
        background: #f0f3f9;
    }
    
    .mark_box {
        color: #c00;
    }
    .swiper-container {
    
    }
 .swiper-slide {
    

    }
    .error_mess{
      font-size:12px;
      color:#aaa;
      padding-left:55px;
      position:absolute;
   		
      left:80px;
    }
    .button-prev{
     float:left;
     margin-left:12px;
    }
    .bottom{
      margin-top:10px;
      position:relative;
      width:100%;
      height:40px;
      padding-bottom:10px;
    }
    .bottom .more_button{
      position:absolute;
      top:0px;
      left:50%;
      -webkit-transform:translateX(-50%);
      
    }
    .bottom .button-next{
      float:right;
      margin-right:12px;
    }
 #emailList{
   width: 73%; margin-left: 27%; 
   color:#999;
   padding-bottom:10px;
   padding-top:40px;
  
 }
  #emailList li{
  line-height: 30px;
  }
.bx_ul_content .bd_ul{
	float:left;
	width:100%;
}
.bx_ul_content .bd_ul li{position:relative;}
.bx_ul_content{

	overflow:hidden;
	position:relative;
	top:0px;
	left:0px;
	
	
}
.outer_bx_content{
	width:100%;
	overflow:hidden;
}
.ss_yx{
	font-size:14px;
	padding-left:15px;
	color:#fc318a;padding-top:12px;
}

/*详情样式*/
.pic_detail{
	margin-top:20px;
	
}
.pic_detail img{
	width:100%;
	height:auto;
	margin-top:10px;
}
.only_bx_product{
	font-size:16px;
	font-weight:bold;
	color:#333;
	margin: 10px 0;
}
.price_arrow{
	float:right;
	margin-left:5px;
}
.price_arrow img{
	width:18px;
	height:auto;
	opacity:0.5;
	margin-top:12px;
	-webkit-transform:translateY(180deg);
}

/*提示信息*/
.sj_ts {
	margin-top: 10px;
	padding: 0 4%;
	font-size: 14px;
	color: #888;
	line-height: 22px;
	margin-bottom: 10px;
}

.title_ts {
	color: #333;
	display: block;
	margin-bottom: 5px;
}
/*邮箱样式添加结束*/

.evaluate_img img{
	margin-top:30px;
	max-width:100%;
	height:auto;
}